#Galeria {
  width: 100%;

  .heading5 {
    text-align: center;
    color: black;
    margin-top: 60px;
    font-size: 30px;
    font-weight: bold;

    span {
      color: #b2744c;
    }
  }

  .card {
    border-radius: 10px;
    cursor: pointer;

    img {
      border-radius: 10px;
    }
  }
}